main {
    margin-top: 60px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    main > span {
        width: 85%;
        margin-top: 60px;
        display: flex;
        align-items: center; 
        gap: 4px;
    }


        main > span > h4 {
            opacity: 0.6;
        }


iframe {
    width: 85%;
    aspect-ratio: 2/1
}

.details-section {
    width: 85%;
    margin-top: 20px;
    display: flex;
    margin-bottom: 60px;
}

.details-section > ul {
    list-style: none;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

    .details-section > ul > li {
        font-weight: 600;
        opacity: 0.7;
    }