<div>
    <img src="SVG/mini_logo.svg" />
    <h1>
        Suporte Técnico
        <p>
            Somos profissionais treinados para melhor atender as suas necessidades. Nossa
            missão é proporcionar inovações tecnológicas de forma diferenciada e criativa,
            que contribuam decisivamente para o seu sucesso! Você pode nos contatar pelo
            formato que mais lhe agradar! Basta fazer o seu login de cliente
        </p>
    </h1>

    <div class="contact-section">
        <span class="contact-icon">
            <img src="/SVG/chat.svg" />
            <p>Chat Online</p>
        </span>

        <span class="contact-icon">
            <img src="/SVG/whatsapp.svg" />
            <p>Whatsapp</p>
        </span>

        <span class="contact-icon">
            <img src="/SVG/call.svg" />
            <p>Telefone</p>
        </span>

        <span class="contact-icon">
            <img src="/SVG/mail.svg" />
            <p>Email</p>
        </span>
    </div>


</div>

@code {

}
