<main>
    <h1>
        Gostaria de adquirir nossos produtos?
    </h1>

    <div class="collapsable-section">
        <details>
            <summary>Como Obter nossos produtos?</summary>
            <p>
                Lorem ipsum dolor sit amet consectetuer. Dolore amet et nonummy lorem aliquip ea dolor sanctus ut magna ipsum no lobortis sed. Clita justo justo at. Lorem dolor ipsum volutpat invidunt eirmod est duo consectetuer amet iriure dolor voluptua sed. Nonumy nulla aliquam voluptua et tincidunt cum et eirmod sit vero amet gubergren. Duo aliquyam magna quis et magna
            </p>
        </details>
        
        <details>
            <summary>Quais os valores?</summary>
            <p>
                Lorem ipsum dolor sit amet consectetuer. Dolore amet et nonummy lorem aliquip ea dolor sanctus ut magna ipsum no lobortis sed. Clita justo justo at. Lorem dolor ipsum volutpat invidunt eirmod est duo consectetuer amet iriure dolor voluptua sed. Nonumy nulla aliquam voluptua et tincidunt cum et eirmod sit vero amet gubergren. Duo aliquyam magna quis et magna
            </p>
        </details>
        
        <details>
            <summary>Disponibilizamos versão Demo?</summary>
            <p>
                Lorem ipsum dolor sit amet consectetuer. Dolore amet et nonummy lorem aliquip ea dolor sanctus ut magna ipsum no lobortis sed. Clita justo justo at. Lorem dolor ipsum volutpat invidunt eirmod est duo consectetuer amet iriure dolor voluptua sed. Nonumy nulla aliquam voluptua et tincidunt cum et eirmod sit vero amet gubergren. Duo aliquyam magna quis et magna
            </p>
        </details>
        
        <details>
            <summary>É possivel adquirir para múltiplas emissoras?</summary>
            <p>
                Lorem ipsum dolor sit amet consectetuer. Dolore amet et nonummy lorem aliquip ea dolor sanctus ut magna ipsum no lobortis sed. Clita justo justo at. Lorem dolor ipsum volutpat invidunt eirmod est duo consectetuer amet iriure dolor voluptua sed. Nonumy nulla aliquam voluptua et tincidunt cum et eirmod sit vero amet gubergren. Duo aliquyam magna quis et magna
            </p>
        </details>
    </div>

</main>

@code {

}
