<div class="slider">
	<div class="slide-track">
		<a class="slide">
			<img src="/Customers/89FM.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Alpha.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Jovem_Pan_SP.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Metropolitana.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Mix_FM.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Top.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Transamerica.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/89FM.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Alpha.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Jovem_Pan_SP.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Metropolitana.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Mix_FM.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Top.png" height="100" width="250" alt="" />
		</a>
		<a class="slide">
			<img src="/Customers/Transamerica.png" height="100" width="250" alt="" />
		</a>
	</div>
</div>

<style>
	img {
		object-fit: contain;
	}
</style>

@code {
	
}
