@page "/"
@using Pulsar_Site.Components.Common;
@using static Pulsar_Site.Components.Common.Carousel

<PageTitle>Pulsar Multimedia</PageTitle>
<Header/>
<HomeVideo/> 
<span style="height:100vh"></span>
<HomeCarrousel/>
<HomeHero/>
<HomeAssistance/>
<HomeQA/>
<HomeShowcase/>
<Footer/>

@code {

}
