footer {
    width: 100vw;
    background-color: black;
    height: 28vh;
    display: flex;
    flex-direction: column;
    color: #989898;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

footer > p {
    max-width: 55vw;
}