<footer>
    <span>
        <p>Pulsar Multimedia : Av. Paulista, 2.200 - 3º andar | SP/SP 01310-300 | Tel. +55 11 3288-8800</p>
        <p>Mariner Advanced Multimedia LTDA | CNPJ: 05.630.584/0001-00</p>
    </span>

    <p>
        "Nosso objetivo é criar produtos inovadores e diferenciados que realcem a criatividade dos usuários.
        É conduzir nossos clientes a um patamar elevado de competitividade nas novas tecnologias da mídia". - CEO
    </p>
</footer>

@code {

}
