<header>
    <a href="">
        <img width="160" src="SVG/header_logo.svg" />
    </a>
    <nav>
        <a href="#solucoes">Soluções</a>
        <a href="#contato">Contato</a>
        <a class="login_btn" href="/login">
            <img width="14" src="SVG/user_icon.svg" />
            Login
        </a>
    </nav>
</header>

@code {

}